[gcode_macro Probe_Deploy]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro Probe_Stow]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[output_pin probe_enable]
pin: PA1         # Change this to the Servo/control pin number for your board.
value: 0

[probe]
pin: ^!PC14         # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
deactivate_on_each_sample: False
x_offset: -36.2                    # Change the probe offsets to meet your machine requirements.
y_offset: -2
z_offset: 1.460
speed: 5.0
samples: 2
#sample_retract_dist: 2.0
samples_tolerance: 0.05
samples_tolerance_retries: 3
activate_gcode:
    Probe_Deploy
    G4 P500
          allow time for probe to deploy before homing Z
deactivate_gcode:
    Probe_Stow